[filter "spacestotabs"]
    clean = unexpand --tabs=4 --first-only
    smudge = unexpand --tabs=4 --first-only
[core]
    autocrlf = input
    safecrlf = false
    ignoreCase = false
    eol = lf
    whitespace=trailing-spacespace-before-tab,indent-with-non-tab,-tab-in-indent,cr-at-eol,tabwidth=4
    filemode = false
