[filter "tabstospaces"]
    clean = expand --tabs=4 --initial
    smudge = expand --tabs=4 --initial
[core]
    autocrlf = input
    safecrlf = false
    ignoreCase = false
    eol = lf
    whitespace=trailing-space,space-before-tab,-indent-with-non-tab,tab-in-indent,cr-at-eol,tabwidth=4
    filemode = false
